:root {
    --something: white;
}

.snowflake {
    background-color: var(--something);
    position: absolute;
    top:-5vh;
    left: var(--left);
    animation: snowfall var(--duration) linear infinite;
    animation-delay: var(--delay);
    border-radius: 50%;
}

@keyframes snowfall {
    0% {
        transform: translate3d(var(--left-ini), 0, 0);
    }
    100% {
        transform: translate3d(var(--left-end), 110vh, 0);
    }
}
.before .snowflake {
    filter: blur(4px);
}